@import "~@digitaluc/uc-kitdigital/dist/css/uc-kitdigital.css";

.App {
  text-align: center;
  align-items: center;
}

.th {
  background-color: '#173F8A';
}

.background-blue {
  background-color:'#173F8A' !important;
}

a:hover {
  cursor: pointer;
}

.container2 {
  margin-top: 50px;
}

